# version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: jaguar_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host
    
  backend:
    build:
      context: ./backend
    container_name: jaguar_backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: jaguar_db
    environment:
      POSTGRES_DB: jaguar
      POSTGRES_USER: jaguar
      POSTGRES_PASSWORD: jaguar
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
